.places {
  margin:  0;
  margin: 92px 48px 0;
  grid-area: places;
  max-width: 984px;
}


@media (max-width: 900px) {
  .places {
    margin: 88px 24px 0;
  }
}

@media (max-width: 500px) {
  .places {
    margin: 64px 0 0;
  }
}