.cover {
  grid-area: cover;
  margin: 92px auto 0;
  width: 100%;
  max-width: 1184px;
  position: relative;
  box-sizing: border-box;
  height: calc(min(1184px,100vw)*.625); 
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  z-index: 0;
 }

 @media (max-width: 900px) {
   .cover {
     margin-top: 88px;
   }
 }

 @media (max-width: 500px) {
  .cover {
    margin-top: 64px;
  }
}